<head>
    <a href="/">回首頁</a>
</head>
{% if remain_code == 1 %}
<script>alert("You are asking products more than its remain.")</script>
{% elif remain_code == 2 %}
<script>alert("You need to ask for at least 1 product.")</script>
{% endif %}
<center>
    <head>{{ product.product_name }}</head><br>
    <img src="{{ product.product_image.url }}" height="200">
    <h2>Price : {{ product.product_price}}</h2>
    <h3>Description : {{ product.product_description}}</h3>
    <h3>Remain : {{ product.remain_product }}</h3>
    <form method="POST">
    {% csrf_token %}
    <label for="book_count">數量</label>
    <input type="number" name="book_count" required>
    <button type="submit">加入購物車</button>
    </form>
</center>
