<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script>
        function undisable() {
            form = document.getElementById("personal_edit_form")
            form.disabled = false
        }
    </script>
        <a href="/">回首頁</a>
</head>
<center>
<label>帳號：{{ account }}</label><br>
<form method="POST">
{% csrf_token %}
    <fieldset id="personal_edit_form" style="border:0;" disabled>
        <table>
            {{ form }}
        </table>
    </fieldset>
    <input type="button" onclick="undisable()" value="edit"></input>
    <button type="submit">Save</button>
</form>
<a href="/reset/">reset password</a><br>
<a href="/logout/">logout</a>
</center>